.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: rgba(255, 255, 255);
}

.navbar .container {
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.500);

}

.nav-item {
    display: flex;
    justify-content: center;
}





.mainphoto {
    background: url(images/overlay.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Lato";
}

h1 {
    font-size: 47px;
    font-weight: 300;
}






.services .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service {
    height: 470px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
}

.icon {
    background-color: #3ec6ff;
    height: 100px;
    width: 100px;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(134, 134, 134);
}

.service p {
    text-align: center;
    color: rgb(134, 134, 134);
    margin-top: 20px;
}






.newsletter {
    background: url(images/news.png) no-repeat center center;
    background-size: cover;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscribe {
    text-align: start;
    font-size: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: row;
}

input[type=text] {
    background-color: rgba(00, 000, 000, 000);
    padding: 25px 20px;
    border-radius: 10px;
    width: 770px;
    height: 40px;
    border: 1px solid white;
}

::placeholder {
    color: white;
    opacity: 1;
    font-size: 20px;
    text-align: start;
}

.btn {
    background-color: rgba(62, 198, 255);
    justify-content: center;
    border-radius: 10px;
    width: 30%;
    display: flex;
    color: white;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 10px;
}

@media(max-width: 992px) {
    .btn {
        width: 20%
    }

    input[type=text] {
        width: 50%;
    }
}

@media(max-width: 768px) {
    .btn {
        width: 40%
    }

    input[type=text] {
        width: 90%;
    }
}

@media(max-width: 440px) {
    .btn {
        width: 50%;
        font-size: 18px;
    }

    input[type=text] {
        width: 100%;
    }

    h3 {
        font-size: 22px;
    }
}

@media(max-width: 373px) {
    h3 {
        font-size: 20px;
        font-weight: 600;
    }

    h1 {
        font-size: 28px;
        font-weight: 400;
    }
}





.gallery {
    margin-top: 100px;
}

.colorfont {
    background: #FF512F;
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);
    background: linear-gradient(to right, #F09819, #FF512F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.single_portfolio_text {
    display: inline-block;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.single_portfolio_text img {
    width: 100%;
}

.single_portfolio_text:hover .gallery-items {
    top: 5%;
    left: 5%;
}

.gallery-items {
    width: 90%;
    height: 90%;
    background: rgba(62, 198, 255, 0.702);
    padding: 20px;
    margin: 0 auto;
    top: -100%;
    left: 5%;
    position: absolute;
    transition: .6s;
}

.gallery-items h6 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    border: 2px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery-items p {
    color: white;
}

@media (min-width:769px) and (max-width:991px) {
    .gallery-items {
        padding: 0px;
    }
}

@media (max-width:768px) {
    .gallery-items {
        padding: 170px 20px;
    }
}

@media (max-width:580px) {
    .gallery-items {
        padding: 100px 20px;
    }
}

@media (max-width:480px) {
    .gallery-items {
        padding: 40px 20px;
    }
}

@media (max-width:320px) {
    .gallery-items {
        padding: 20px;
    }
}






.team {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-text {

    margin-top: 150px;
    margin-bottom: 100px;
    color: #919396;
}








.our-team {

    text-align: center;
    position: relative;
    width: max-content;
}

.img-fluid .box {
    display: inline-block;
    height: 130px;
    width: 130px;
    position: relative;
    width: 250px;
    height: 250px;
}


.item .box {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.item .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 198, 255, 0.702);
    transition: opacity 0.15s ease-in;
    opacity: 0;
    padding-top: 80px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.item:hover .cover {
    opacity: 1
}

.item .name {
    font-weight: bold;
    margin-bottom: 8px;
}

.item .title {
    text-transform: uppercase;
    color: #e6f1ff;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 20px
}

.social {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social a {
    color: inherit;
    margin: 0 20px;
    display: inline-block;
    opacity: 0.7;
}

.social a:hover {
    opacity: 1;
}




.about {
    background: url(images/overlay-about.png) no-repeat center center;
    background-size: cover;
    margin-top: 30px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-content {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -200px;
}

.about-content .icon {
margin-bottom: 50px; 
font-size: 60px;
}

.arrows {
    margin-top: 320px;
    font-size: 40px;
    position: absolute;
}